/CampusTime.class
/DateNight.class
/FactorialNumber.class
/Finra.class
/LuckyNumber.class
/MaxValue.class
/NetSalary.class
/NumberToWord.class
/OddNumbers.class
/Pattern01.class
/Pattern02.class
/Pattern03.class
/Pattern04.class
/PrimeNumber.class
/ReverseNumber.class
/SalaryCalculator.class
/SpeedingTicket.class
/StatusCode.class
/SumOfDigits.class
/UpperLowerOrNumber.class
/WierdNumber.class
