/EmailTask01.class
/EmailTask02.class
/LoopTask_AdvancedGuessingGame.class
/LoopTask_MultiplicationGrid.class
/LoopTask_PrimeNumberTrail.class
/Task14.class
/Task15.class
/Task16.class
/TipCalculator.class
/Travel.class
/FirstHalf.class
/HasBad.class
/IsBobThere.class
/MiddleTwo.class
/MixString.class
/RepeatSeperator.class
/SeeColor.class
/SeeingDouble.class
